.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.navbar-brand {
    font-family: 'Unbounded', cursive;
    font-weight: 900;
}

.nav-link, .navbar-brand {
    color: black;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
}

.nav-link:hover, .navbar-brand:hover {
    background-color: #B8F35C;
    color: black;
    cursor: pointer;
    transition: 1s ease;
}

.dropleft {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}