
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.navbar-brand {
    font-family: 'Unbounded', cursive;
    font-weight: 900;
}

.nav-link, .navbar-brand {
    color: black;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
}

.nav-link:hover, .navbar-brand:hover {
    background-color: #B8F35C;
    color: black;
    cursor: pointer;
    transition: 1s ease;
}

.language-toggle {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-right: 30px;
    cursor: pointer;
    border: none;
}

.language-toggle:focus {
    outline: none;
}

.dropdown-menu {
    min-width: 60px !important;
  }

.dropdown-item {
    cursor: pointer;
    font-size: 13px;
}

.dropdown-item:hover {
    background-color: #B8F35C;
    color: black;
    transition: ease-in 1s;
}